@media screen and (min-width: 768px) {
    


body{
    max-width: 1440px;
    margin: 0 auto;    
}

h1{
   margin: 0; 
}

p{
    margin: 0;
}

.header-logo{
    height: 96px;
    font-size: 37px;
}

.header-logo img{
    width: 200px;
    height: 54px;
}

.location{
    height: 50px;
}
.presentation{    
    gap: 18px;
}

.line-1{
    font-size: 40px;
}

.explore-btn{
    margin-top: 0;
}

.process{
    height: 262px;
}   
   
.process-card-container{
    flex-direction: row;
    justify-content: center;    
}

.restaurants-card-container{
    display: flex;
    flex-direction: row;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    padding-right: 27px;
    align-items: center;
    gap: 71px;    
}

.footer-logo{    
    padding-right: 50px;
    align-items: center;
}

.bottom-page-link{
    flex-direction: row;
    justify-content: center;
    gap: 40px;
   

}

}