body{
    max-width: 768px;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;   
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    animation: body-fade-in 3s forwards;
    opacity: 0;  
    
}

@keyframes body-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.loader-container{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: loader-fade-out 3s forwards;     
    opacity: 1;
    z-index: 100;    
}

@keyframes loader-fade-out {
    from {opacity: 1;}
    to {opacity: 0; z-index: -1;}     
}

 .loader{ 
    position: inherit;   
    width: 125px;
    height: 125px; 
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color:  #9356dc;
    animation: loader-rotation 1.3s infinite linear;
    opacity: 1;
 }

 @keyframes loader-rotation{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
 }

 .loader-text{
    letter-spacing: 1px;
    font-family: 'shrikhand';
 }

 


h1{
    
    margin: 0;
    font-size: 24px;
    font-weight: 700;    
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* HEADER */

.header-logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;    
}

.header-logo img{
    width: 162px;
    height: 44px;
    box-sizing: border-box;
    object-fit: contain;
}

/* ZONE GEOGRAPHIQUE RESTAURANT */

.location{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
       
}

.fa-location-dot{
    margin-right: 17px;
}

/* PHRASES D'ACCROCHE + BOUTON EXPLORER */


.book-and-explore{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
    justify-content: center;
    align-items: center;   
    text-align: center;
    padding-top: 39px;
    padding-bottom: 57px; 
    box-sizing: border-box;
        
}

.line-1{
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
}

.line-2{
    font-size: 16px;
    font-weight: 300;
    color: #353535;
}

.explore-btn{
    width: 218px;
    height: 50px;
    margin-top: 27px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);    
}

.explore-btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/* OPTIONS DE RESERVATIONS */

.booking-process{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 440px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
    box-sizing: border-box;  
} 
    
.process-card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin-top: 26px; 
}

.booking-process-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    background-color: #F5EDFF ;
    border-radius: 20px; 
    justify-content: flex-start;
    align-items: center;    
    box-shadow: 0px 4px 15px rgba(0,0,0,0.25); 
     
}

.booking-process-card:hover{
    background-color: #F7F7F7;
}

.chips{
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: #9356DC;
    color: #ffffff;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    transform: translateX(-12px);
}

.icon{
    display: flex;
    width: 64px;
    height: 72px;
    justify-content: center;
    align-items: center;
}



/* LISTES DES RESTAURANTS  */

.section-title{
    margin-bottom: 30px;
}

.restaurants-card-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.restaurants-list{
    width: 100%;
    padding: 54px 20px 64px 20px;
    box-sizing: border-box;
   
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    cursor: pointer;   
}

.card a{
    color: #000000;
}
                
.card-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 77px;    
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    padding-left: 15px;
    padding-top: 16px;
}

.text{    
    display: flex; 
    flex-direction: column;
    height: 39px;
    justify-content: space-between;     
}


                
.title{
    font-size: 18px;
    font-weight: 700;
}    


.heart{   
    width: 22px;
    height: 22px; 
    margin-top: 7px; 
    margin-right: 25px; 
    display: flex;    
    justify-content: center;
    align-items: center;
}

.btn-1, .btn-2{
    width: 22px;
    height: 21px;
    font-size: 20px;
    border-style: none;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.btn-1{
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-2{
    position: absolute;
    z-index: 1;
    background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%) ;
    background-clip: text;
    color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    
}

.btn-1:hover{
    z-index: 1;
    transition: 0.3s ease-in-out;    
}

/* photo + pastille */

.restaurant-pictures{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 174px;    
    justify-content: end;    
}

img{    
    position: relative;
    width: 100%;
    height: 174px;
    object-fit: cover;
    z-index: 1;
    justify-content: right;
    box-sizing: border-box;    
}

.restaurant-pictures img{    
    width: 100%;
    height: 174px;
    border-radius: 15px 15px 0 0;
}

.text-over{
    display: flex;
    width: 80px;
    height: 29px;
    background-color: #99e2d0;
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    position: absolute;
    z-index: 2;    
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    margin-top: 15px;
}


                /* FOOTER */

footer{    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 197px;
    background-color: #353535;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.footer-logo{
   
   
    margin-top: 22px;
    margin-bottom: 16px;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    color: #ffffff;
    

}

.bottom-page-link{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0;
    padding: 0;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

.footer-text{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.footer-icon{
    width: 20px;
    height: 18px;
}

.footer-text a{
    padding-left: 11px;
}




